.description {
    position: relative;
    z-index: 1;
    font-size: 3vw;
    color: #fff;
    text-transform: uppercase;
    margin-top: 35vh;
    margin-left: 10vw;
    z-index: -1;

    p {
        margin: 0px;
        padding: 1vw;
        position: relative;
    }
}
